# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# testing
/coverage

# database
/prisma/db.sqlite
/prisma/db.sqlite-journal

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
# do not commit any .env files to git, except for the .env.example file. https://create.t3.gg/en/usage/env-variables#using-environment-variables
.env
.env*.local
.env*.production

# typescript
*.tsbuildinfo

# compiled output
dist
tmp
/out-tsc

# dependencies
node_modules
/.pnp
.pnp.js

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.history

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
*.pem

# System Files
.DS_Store
Thumbs.db

# vercel
.vercel

# Next.js
.next
/.next/
/out/
*next-env.d.ts

# Playwright
**/test-results
**/playwright-report
**/playwright/.cache

# Contentlayer
.contentlayer